@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  background-image: url(img/ferro.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
}
.navbar {
  background: rgba(0, 0, 0, 0.6);
}
.navbar-brand img {
  height: 5rem;
}

.video-background {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.caption {
  position: absolute;
  top: 33%;
  width: 100%;
  color: white;
}

.caption h1 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .1rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-top: 12rem;
  opacity: 10%;
}
.caption h5 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .1rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-top: -5;
  opacity: 10%;
}
.caption h3{
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}
.caption h2{
  font-size: 3rem;
  text-shadow: .1rem .1rem .5rem black;
}
.caption h4{
  font-size: 7rem;
  font-weight: 700;
  letter-spacing: .2rem;
  text-shadow: .1rem .1rem .8rem black;
  color: #c5264e;
}
.caption h6{
  position: relative;
  left: 0px;
  bottom: 200px;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: .2rem;
  text-shadow: .1rem .1rem .8rem black;
  color: #ffff;
}
.btn-lg {
  border-width: medium;
  border-radius: 0;
  font-size: 2rem;
  padding: .6rem 1.3rem;
  letter-spacing: .2rem;
}
.btn-lg1 {
  border-width: medium;
  border-radius: 0;
  font-size: 4rem;
  padding: .6rem 1.1rem;
  transform: translateY(0%);
  transform: translateX(150%);
}
.btn-lg2 {
  position: relative;
  left: 0px;
  bottom: 300px;
  border-width: medium;
  border-radius: 0;
  font-size: 2rem;
}
.btn-lg3 {
  position: relative;
  left: 20px;
  bottom: -330px;
  border-width: medium;
  border-radius: 0;
  font-size: 2rem;
}
.home__img1 {
  position: relative;
  left: 330px;
  bottom: 400px;
  width: 291px;
  z-index: var(-2);
}
.home__img2 {
  position: absolute;
  left: 330px;
  bottom: 470px;
  width: 10px;
  height: 0px;
  z-index: var(-2);
}









/*============= COURSE SECTION =============*/

.col-md-8 {
  margin: 2rem auto 8rem;
  padding-top: 2rem;
}
.col-md-8 h1 {
    font-size: 2.4rem;
  }
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
}




/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/